<!--
Invoice dynamically rendered into html using handlebars and converted into pdf
using chrome-pdf recipe. The styles are extracted into separate asset for
better readability and later reuse.

Data to this sample are mocked at the design time and should be filled on the
incoming API request.
!-->

<html>

<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <script src="../../../d3.v7.min.js"></script>
  {{> local_style }}
</head>

<body>
  <svg width="400" height="100">
    <rect width="400" height="100" style="fill:rgb(0,0,255);stroke-width:10;stroke:rgb(0,0,0)" />
  </svg>
  {{!========= ----- FIRST PAGE ----- =============}}
  <div class="row-wrapper">
    <div class="row-break">
      <div class="row-wrap" style="display:flex; align-item:center;">
        <h2 class="header-text">What is HappiU?</h2>
      </div>
      <div class="row-wrap text-normal" style="display:flex;">
        HappiU is your future financial satisfaction. The higher the score, the more likely you will achieve your
        self-defined financial needs and aspirations while maintaining your current lifestyle. We even stress test your
        future over 10,000 personal and market risk scenarios, so that your HappiU score reflects your future reality.
      </div>

      <div style="display:flex; margin-top: 40px"></div>

      <div class="row-wrap" style="display:flex; align-item:center;">
        <h2 class="header-text">What is my HappiU?</h2>
      </div>
      <div class="row-wrap border-happiu">
        <div class="happiu-score">
          <h5 class="text-bold">My HappiU Score</h5>
          <div class="row">
            <div class="border-text col-2">
              <div style="margin-top: 20px">
                <div class="percent">{{{getScore preHappiU postHappiU}}}<span class="total-percent">/100</span></div>
                <div class="status" style="color: white;">{{{getHappiUText preHappiU postHappiU}}}</div>
              </div>
            </div>
            <div class="col-6">
              {{#if preHappiU}}

              {{/if}}
            </div>
          </div>
        </div>
      </div>

      {{{getMessage insightMessages 'Assess' preHappiU postHappiU}}}

      <div style="display:flex; margin-top: 40px"></div>
      <div class="row-wrap" style="display:flex;">
        <h2 class="header-text">Why is my HappiU {{{getHappiUText preHappiU postHappiU true}}}?</h2>
      </div>

      {{{getMessage insightMessages 'Explain' preHappiU postHappiU}}}

      <div style="display:flex; margin-top: 40px"></div>
      <div class="row-wrap" style="display:flex; align-item:center;">
        <h2 class="header-text">What can I do to increase my HappiU?</h2>
      </div>

      {{{getMessage insightMessages 'Recommend' preHappiU postHappiU}}}
      <div class="row-wrap text-bold text-normal" style="display:flex;">
        For products, your advisor will introduce you to the various packages that we have available which can help to
        increase your HappiU.
      </div>
    </div>
  </div>

</body>

</html>